<a href="https://colab.research.google.com/github/bolafadipe/Aicore-practicals/blob/main/module_3_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

### Challenge 1: **Counting Even and Odd Numbers**
Write a for loop to count how many even and odd numbers between 1 and 100.

In [4]:
counter_odd = 0
counter_even = 0
for i in range(1,101):
  if i % 2 == 0:
    counter_even += 1
  else:
    counter_odd += 1

In [5]:
counter_even

50

In [6]:
counter_odd

50

### Challenge 2: **Budget Calculator**
Using the names dictionary and order_list shown below, write a program that fits the following conditions:

- It should produce an order by adding items to receipt from order_list sequentially.

- It should Print "Current Total: Â£x" with each iteration

- If the order value exceeds the budget value, it should stop adding items and print "Budget Exceeded!".

- If not, each time it adds items, it should:

- Print "Adding *full name of item* (quantity)".

- Subtract the price from budget.

- Add the price to running_total.

- It should print out running_total, order and budget formatted into print statements (done for you).

order_list = [("tom", 0.87, 4),

("sug", 1.09, 3),

("ws", 0.29, 4),

("juc", 1.89, 1),

("fo", 1.29, 2)]

names = {"tom":"Tomatoes",

"sug":"Sugar",

"ws":"Washing Sponges",

"juc":"Juice",

"fo":"Foil"}

budget = 10.00

running_total = 0

receipt = []

In [ ]:
order_list = [("tom", 0.87, 4),

("sug", 1.09, 3),

("ws", 0.29, 4),

("juc", 1.89, 1),

("fo", 1.29, 2)]

In [ ]:
names = {"tom":"Tomatoes",

"sug":"Sugar",

"ws":"Washing Sponges",

"juc":"Juice",

"fo":"Foil"}

In [ ]:
budget = 10.00

running_total = 0

receipt = []

In [ ]:
# define a for-loop to iterate over each tuple in the order_list
      
for index, tup in enumerate(order_list):
    
    item = tup[0]        # --> get the name of each item in the tuple by indexing
    price = tup[1]       # --> get the price of each item in the tuple by indexing
    quantity = tup[2]    # --> get the quantity of each item in the tuple by indexing
    full_name = names[item]  # --> get the fullname of the product by passing the 'item' variable as the 'key' of the names dict.
    order_value = price * quantity
    receipt.append(item)
    running_total += order_value
 
    if running_total <= budget:
      print(f'adding {quantity} {full_name}')
      print(f'Current Total is {round(order_value, 2)}')
      
      print(f'running total is {round(running_total, 2)} \n\n\n')
      
     
    else:
      print('budget exceeded')

adding 4 Tomatoes
Current Total is 3.48
running total is 3.48



adding 3 Sugar
Current Total is 3.27
running total is 6.75



adding 4 Washing Sponges
Current Total is 1.16
running total is 7.91



adding 1 Juice
Current Total is 1.89
running total is 9.8



budget exceeded

### Challenge 3: **Dictionaries & list comprehensions**
1. Create a dictionary with 3 keys

- name: a string of your name

- skills: a list of strings

2. Make another one of these and put both of them in a list

3. Now index that list of dictionaries to find the last letter of the first skill of the last dictionary

4. Create a list comprehension which maps that list to a list of the length of names

5. Add that list together to get the total number of characters in all of the names

In [ ]:
#   creating 2 dictionaries each with 2 keys : name and skills
persons_dict1 = {'name': 'Sammmy', 'skills': ['Javascript','Python']}
persons_dict2 = {'name': 'Tom', 'skills' : ['Java', 'SQL']}

# merging dict1 and dict2 into a list of dictionaries
persons_list = [persons_dict1, persons_dict2]

In [ ]:
# confirm list of dictionaries
persons_list

[{'name': 'Sammmy', 'skills': ['Javascript', 'Python']},
 {'name': 'Tom', 'skills': ['Java', 'SQL']}]

In [ ]:
# indexing the last letter of the first skill of the last dictionary
persons_list[1]['skills'][0][-1]

'a'

In [ ]:
# get the list of values of name 'key' using list comprehension
key = 'name'
char_length = [len(a_dict[key]) for a_dict in persons_list]

In [ ]:
# confirm the list of values of skills 'key'
char_length

[6, 3]

In [ ]:
chars_in_names = char_length[0] + char_length[1]

In [ ]:
cahrs_in_names

9

In [ ]:
for i in range(1,5):
  print('* ' * i)
for j in range(5,1,-1):
  print('* ' * j)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *

### Challenge 4: Bonus Question
Write a program to check whether each number from 10 to 50 is prime

Your answer should take the following format:

- "x IS a prime number." for primes

- "x IS NOT a prime number because y is a factor of x." for non-primes

CLUE: This is possible using a while loop nested in a for loop or using a nested for loop; if you can, try to find both.

In [ ]:
for num in range(10,51):
  for i in range(2, num):
    if (num % i) == 0:
      break
  else:
     print(num)

11
13
17
19
23
29
31
37
41
43
47

### Challenge 5: Palindrome?
Create a function which checks whether a word is a palindrome or not

- there are several ways to implement this. some require less code, but some are more efficient; which is yours, and can you think of how to implement the other way?

In [ ]:
def is_palindrome(word):
  reversed_word = word[::-1]

  check_word = 'is a Palindrome' if (word == reversed_word) else 'not a Palindrome'
  return check_word

In [ ]:
is_palindrome('madam')

'is a Palindrome'

In [ ]:
is_palindrome('python')

'not a Palindrome'

### Challenge 6: **Even and Odd List Comprehension**
- Create a list comprehension that squares even arguments, and adds 1 to and squares odd arguments

- Test on my_list

my_list = [34,52,71,39,22,73,92]

In [ ]:
def square_even_odd_nums(a_list):
  square_even_odd = [num**2 if num % 2 == 0 else (num + 1)**2 for num in a_list]
  return square_even_odd

In [ ]:
my_list = [34,52,71,39,22,73,92]
my_list2 = [2,3,4,5]
square_even_odd_nums(my_list2)

[4, 16, 16, 36]

### Challenge 7: **shop item filter**
Filter shop_dict using list comprehension to find only items with values of over 1.00

Assign them to a list called filtered_shop by their full names, not their codes, using names_dict.

shop_dict = {"tom":0.87,

"sug":1.09,

"ws":0.29,

"cc":1.89,

"ccz":1.29}

names_dict = {"tom":"Tomatoes",

"sug":"Sugar",

"ws":"Washing Sponges",

"cc":"Coca-Cola",

"ccz":"Coca-Cola Zero"}

In [ ]:
# declare shop_dict variable
shop_dict = {"tom":0.87,

"sug":1.09,

"ws":0.29,

"cc":1.89,

"ccz":1.29}

In [ ]:
# declare name_dict variable
names_dict = {"tom":"Tomatoes",

"sug":"Sugar",

"ws":"Washing Sponges",

"cc":"Coca-Cola",

"ccz":"Coca-Cola Zero"}

In [ ]:
# get prices > 1.00
filtered_prices = [item for item in shop_dict.values() if item > 1.00]

In [ ]:
# confirm filtered prices
filtered_prices

[1.09, 1.89, 1.29]

In [ ]:
# loop through all items in shop_dict and thier corresponding prices 
# check if the price is in filtered_prices
# access the fullname of the item from the name_dict by indexing with key of the shop_dict
# append the return values to filtered_shop list 
filtered_shop = []
for key, value in shop_dict.items():
  if value in filtered_prices:
    filtered_shop.append(names_dict[key])

In [ ]:
print(filtered_shop)

['Sugar', 'Coca-Cola', 'Coca-Cola Zero']