<a href="https://colab.research.google.com/github/bolafadipe/Aicore-practicals/blob/main/module_3_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

### Challenge 1: **Range checker**
- Write a function called in_range which takes in a lower bound, an upper bound, and a number

- If it is, return "{number} is between {lower bound} and {upper bound}."

- If it isn't, return "{number} is NOT between {lower bound} and {upper bound}."

- Call your function to test it

In [ ]:
def in_range(lower_bound, upper_bound, number):
  statement = f'{number} is between {lower_bound} and {upper_bound}.' if (lower_bound <= number <= upper_bound) else f'{number} is NOT between {lower_bound} and {upper_bound}.'
  return statement

In [ ]:
in_range(10,20,15)

'15 is between 10 and 20.'

In [ ]:
in_range(50,100,25)

'25 is NOT between 50 and 100.'

### Challenge 2: **return unique list**
Write a function called unique_list that takes in a list and returns a list with only the unique elements of the input.

my_list = [1, 3, 5, 6, 4, 3, 2, 3, 3, 4, 3, 4, 5, 6, 6, 4, 3, 2, 12, 3, 5, 63, 4, 5, 3, 3, 2]

Find another way of performing the same operation without defining a function.

In [ ]:
def unique_list(a_list):
  unique = []
  for num in a_list:
    if num not in unique:
       unique.append(num)
  return unique

In [ ]:
my_list = [1, 3, 5, 6, 4, 3, 2, 3, 3, 4, 3, 4, 5, 6, 6, 4, 3, 2, 12, 3, 5, 63, 4, 5, 3, 3, 2]
unique_list(my_list)

[1, 3, 5, 6, 4, 2, 12, 63]

In [ ]:
# solving without defining a function
print(set(my_list))

{1, 2, 3, 4, 5, 6, 12, 63}

### Challenge 3: **Profile Validation**
- Create a function which takes in the name, age, and email of a user trying to create a new profile on our application

- Check the name does not contain any of "!@£$%^&*()"

- Check the email is valid by making sure it contains "@"

- Check the age > 12

- Turn each step above into a function, so that you have one function, which calls 3 other functions inside

- Print a friendly error to explain the issue to the user if any of these checks does not pass

In [100]:
# Help needed with this exercise
invalid_chars = ['!', '@', '£', '$', '%' , '^', '&', '*', '()']
def validate_profile(name, age, email):
    for char in name:
      if char in invalid_chars:
        return 'invalid name'
      else:
        return validate_profile(name,age,email)
    if age <= 12:
      return 'too young' 
    else:
      return age
    if ('@' not in email):
      return 'invalid email'
    else:
      return email

### Challenge 4:
Create a function which takes in an integer n, and when called, returns a list of the first n Fibonnaci numbers. It should be a recursive function which calls itself inside the function body.

In [106]:
def fib_num(n):
   if n <= 1:
       return n
   else:
       return (fib_num(n-1) + fib_num(n-2))

In [107]:
for i in range(5):
  print(fib_num(i))

0
1
1
2
3

### Challenge 4: 
Volume of a Sphere Function
- Write a function called volume_of_sphere that takes in the radius of a sphere and returns its volume rounded to 2dp. (Google the formula for volume of a sphere, use pi = 3.14)

- Call your function to test it

In [110]:
def volume_of_sphere(r):
  return round(4/3*3.14*r**3, 2)

In [111]:
volume_of_sphere(12)

7234.56

### Challenge 5:
Default arguments
- Create a function which takes in a dictionary of attributes about a piece of clothing and prints each of the key-value pairs on a line

- Define an input to the function called attributes_to_print with a default value of 'all'

- If a list is passed into the function as the attributes_to_print, print only the key-value pairs of the dictionary which the key appears for in that list

- Print a message to tell the user if a key doesn't exist

- Call your function to test it

In [112]:
def clothing(attribute_to_print='all', **kwargs):
  for k, v in kwargs.items():
    print(k,v)

In [115]:
clothing(shirt=5, pants=7, hats=8)

shirt 5
pants 7
hats 8

### Challenge 6:
Factorial Function

Define a recursive function called "factorial" that returns the factorial of a given number.

In [117]:
def factorial(n):
  if n == 1:
    return n
  else:
     return n * factorial(n-1)

In [118]:
factorial(3)

6

### Challenge 7:
Fibonnaci loop
1. Write a for loop that prints the first 100 Fibonnaci numbers

2. Create a function which returns true if the number is a multiple of 7 and false otherwise

3. Call this function on each number inside your loop

4. Add an elif condition to the loop to call another new function which checks if the number is greater than or equal to 100 OR is less than 50. In the case that it is true, format a string that prints the number and either "is larger than 100" or "is less than 50"

In [124]:
# instantiate the first 2 numbers of the fibonacci series
fib_series = [0,1]
for i in range(2,100):
  next_num = fib_series[i-1] + fib_series[i-2]
  fib_series.append(next_num)
print(fib_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]

In [168]:
# checking if a number in the series is a multiple of 7

def check_multiple_of_7(series):
  for num in series:
    if num % 7 == 0:
      print('true')
    else:
      print('false')

In [ ]:
check_multiple_of_7(fib_series)